<h2 id='header-<%= release_as_list.id %>' class='release-header'><%= release_as_list.name %></h2>
<div id='<%= release_as_list.id%>' class='list-parent' style="<%= release_as_list.issues.any? ? 'float: left;' : 'min-height:100px; min-width: 100%;'%>">
	<ul class='bachlog-list'>
		<% issues = release_as_list.issues.find(:all, :order => sort_clause) %>
		<% issues.each do |issue| %>
			<%= issue_li_tag issue  unless issue.test? || issue.task? %>
		<% end %>
	</ul>
</div>
<script>
	$("#<%= release_as_list.id%>").bind("DOMSubtreeModified", function() {
	   	var issuesCount = $(this).children().children().length;
		if(issuesCount > 0){
			$('#<%= release_as_list.id%>').css('min-height', '');
			$('#<%= release_as_list.id%>').css('float', 'left');
		} else {
			$('#<%= release_as_list.id%>').css('min-height', '100px'); 
			$('#<%= release_as_list.id%>').css('min-width', '100%');
			$('#<%= release_as_list.id%>').css('float', '');
		}
	});
</script>