<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'general.css', :plugin => 'redmine_scrummer' %>
<% end %>

<div id="scrum_menu">
	<!-- Rendering the scrummer menu --> 
	<%= render :partial => "scrum/scrummer_menu" %>
</div>

<h2>Show Release</h2>

<p>
  <b><%= l(:name) %></b>
  <%=h @release.name %>
</p>

<p>
  <b><%= l(:start_date) %></b>
  <%=h @release.start_date %>
</p>

<p>
  <b><%= l(:field_release_date) %></b>
  <%=h @release.release_date %>
</p>

<p>
  <b><%= l(:field_state) %></b>
  <%=h @release.state %>
</p>
<p>
  <b><%= l(:number_of_points) %></b>
  <%=h pluralize(@release.number_of_points, "point") %>
</p>

<p>
  <b><%= l(:description) %></b><br/>
  <%=h @release.description %>
</p>


<%= link_to 'Edit',  edit_scrum_release_path(:id => @release.id, :project_id => @project) %> |
<%= link_to 'Back', scrum_release_planing_path(:project_id => @project) %>