<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'general.css', :plugin => 'redmine_scrummer' %>
<% end %>

<div id="scrum_menu">
	<!-- Rendering the scrummer menu --> 
	<%= render :partial => "scrum/scrummer_menu" %>
</div>

<h1 style="margin: 10px 0px 10px 0px;">Scrum Configurations</h1>

<h2>Trackers</h2>
<% form_tag(update_scrum_trackers_path(:project_id => @project), :method => :post) do %>
	<table class="fancy">
		<tr>
			<th>Tracker</th>
			<th>Name</th>
			<th>Short Name</th>
		</tr>
		<% @trackers.each do |tracker| %>
			<tr align="center">
				<td><%= tracker.scrummer_caption.to_s.gsub("-", " ").titleize %></td>
				<td><%= text_field_tag "trackers[#{tracker.id}][name][]", tracker.name %></td>
				<td><%= text_field_tag "trackers[#{tracker.id}][short_name][]", tracker.short_name %></td>
			</tr>
		<% end %>
	</table>
  <p>
    <%= submit_tag 'Update' %>
  </p>
<% end %>

<h2>Tracker Statuses</h2>
<% form_tag(update_scrum_tracker_statuses_path(:project_id => @project), :method => :post) do %>
	<table class="fancy">
		<tr>
			<th>Tracker Status</th>
			<th>Name</th>
			<th>Short Name</th>
		</tr>
		<% @tracker_statuses.each do |tracker_status| %>
			<tr align="center">
				<td><%= tracker_status.scrummer_caption.to_s.gsub("-", " ").titleize %></td>
				<td><%= text_field_tag "tracker_statuses[#{tracker_status.id}][name][]", tracker_status.name %></td>
				<td><%= text_field_tag "tracker_statuses[#{tracker_status.id}][short_name][]", tracker_status.short_name %></td>
			</tr>
		<% end %>
	</table>
  <p>
    <%= submit_tag 'Update' %>
  </p>
<% end %>
