<% remote_form_for @version, :url => {:controller => :scrum_userstories, :action => :inline_add_version, :project_id => @project} do |f| %>

	<div id='version_errors'></div>
	<!--%= error_messages_for 'version' %-->
	
	<div class="box">
	<p>
	<%= f.label :name, l("field_name"), :class => "scrum_version_inline_label" %>
	<%= f.text_field :name, :size => 55, :required => true %>
	</p>
	
	<p>
	<%= f.label :description, l("field_description"), :class => "scrum_version_inline_label" %>
	<%= f.text_field :description, :size => 55 %>
	</p>
	
	<p>
	<%= f.label :status, l("field_status"), :class => "scrum_version_inline_label" %>
	<%= f.select :status, Version::VERSION_STATUSES.collect {|s| [l("version_status_#{s}"), s]} %>
	</p>
	
	<p>
	<%= f.label :wiki_page_title, l("label_wiki_page"), :class => "scrum_version_inline_label" %>
	<%= f.text_field :wiki_page_title, :label => :label_wiki_page, :size => 55, :disabled => @project.wiki.nil? %>
	</p>
	
	<p>
	<%= f.label :effective_date, l("field_effective_date"), :class => "scrum_version_inline_label" %>
	<%= f.text_field :effective_date, :size => 10 %><%= calendar_for('version_effective_date') %>
	</p>
	
	<p>
	<%= f.label :sharing, l("field_sharing"), :class => "scrum_version_inline_label" %>
	<%= f.select :sharing, @version.allowed_sharings.collect {|v| [format_version_sharing(v), v]} %>
	</p>
	
	<% @version.custom_field_values.each do |value| %>
		<p class='version_custon_field_label'><%= custom_field_tag_with_label :version, value %></p>
	<% end %>
	
	<%= f.submit %>

<% end %>
</div>

