<% inline_issue_div_id = @issue.new_record? ? "inline_edit_for_#{@issue.id}" : "new_issue_inline_div" %>
<% inline_issue_div_id = @parent_issue ? "inline_add_child_for_#{@parent_issue.id}" : inline_issue_div_id %>

<% tracker_field_id    = @issue.new_record? ? "issue_tracker_id" : "issue_tracker_id_for_#{@issue.id}" %>
<% tracker_field_id    = @parent_issue ? "issue_tracker_id_child_for_#{@parent_issue.id}" : tracker_field_id %>

<% inline_form_id      = @issue.new_record? ? "issue-form" : "inline_edit_form_for_#{@issue.id}" %>
<% inline_form_id      = @parent_issue ? "add_inline_child_form_for_#{@parent_issue.id}" : inline_form_id %>

<% issue_id      			 = @issue ? @issue.id : nil %>
<% hide_cancel 				||= false %>

<div id='<%= inline_issue_div_id%>' class='inline-issue-add'>
	<div id='inline_new_issue_errors'></div>
	<% remote_form_for :issue, :url => {:controller => :scrum_userstories, :action => :inline_add},
														 :html => {:id => inline_form_id} do |f|%>
	
	<%= hidden_field_tag :id, @issue.id unless @issue.new_record? %>
	<%= f.hidden_field :project_id, :value => @project.id %>
	<%= f.hidden_field :priority_id, :value => IssuePriority.default.id %>
	<%= f.hidden_field :parent_issue_id, :value => ( @parent_issue ? @parent_issue.id : nil ) %>
		
	<div class='scrum_issue_inline_fields'>
		<div class='scrum_issue_inline_field'>
			
			
			<%= select_tag "issue[tracker_id]", options_from_collection_for_select(@project.trackers, 'id', 'name', @issue.tracker.id), :id => tracker_field_id %>
			<%= observe_field tracker_field_id, :url => { :action => :refresh_inline_add_form, :project_id => @project, :id => @issue },
			                                     :update => inline_issue_div_id,
			                                     :with => "Form.serialize('#{inline_form_id}')" %>
      <br/>
      <%= f.select :assigned_to_id, @project.members.map{|m| [m.name, m.user.id]}, :include_blank => l("field_assigned_to") %>
      
		</div>
		
		<div class='name_size_container'>
			<div class='scrum_issue_inline_field'>
				<div class='scrum_issue_inline_label'><%= l("field_subject") %></div>
				<div class='scrum_issue_inline_control'> 
					<%= f.text_field :subject, :size => 20 %>
				</div>
			</div>
			
			<br/>
			
			<div class='scrum_issue_inline_field'>
        <div class='scrum_issue_inline_label'><%= l("field_fixed_version") %></div>
        <div class='scrum_issue_inline_control'> 
          <%= f.select :fixed_version_id, @issue.project.versions.map{|v| [v.name, v.id]}, :include_blank => l("field_fixed_version") %>
        </div>
      </div>
			
		<% if @issue.tracker.is_scrum_task? || @issue.tracker.defect? %>
			<div class='scrum_issue_inline_field'>
				<div class='scrum_issue_inline_label'>Est. (hrs):</div>
				<div class='scrum_issue_inline_control'> 
					<%= f.text_field :estimated_hours, :class => 'inline_issue_field_float_type' %>
				</div> 
			</div>
			
			<br/>
		<% end %>
			
			
		<% @issue.custom_field_values.each do |value| %>
		  <!-- TODO(MK): shouldn't we introduce caption to custom_field, instead of checking name?-->
		  <% if value.custom_field.name != "TODO(hrs)" || !@issue.new_record? %>
			<div class='scrum_issue_inline_field'>
				<p><%= custom_field_tag_with_label :issue, value %></p>
			</div>
			<% end %>
		<% end -%>			
			
		</div>
		
		<div class='scrum_issue_inline_field'>
			<div class='scrum_issue_inline_label'><%= l("field_description") %></div>
			<div class='scrum_issue_inline_control'> 
				<%= f.text_area :description, :rows => 7, :cols => 80 %>
			</div>
		</div>
		
		
		<div class='scrum_issue_inline_submit'>	
			<%= f.submit %>
			<% unless hide_cancel %>
				<%= submit_tag "Cancel", :type => 'button', :onclick => 'cancelInlineChild(this)' %>
			<% end %>
		</div>
	</div>
	
	<%end%>
</div>
