<div id="scrum_menu">
	<!-- Rendering the scrummer menu -->
	<%= render :partial => "scrum/scrummer_menu" %>
</div>

<h1 style="margin: 10px 0px 10px 0px;">Scrum Board</h1>
<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'general.css', :plugin => 'redmine_scrummer' %>
	<%= stylesheet_link_tag 'scrum_board.css', :plugin => 'redmine_scrummer' %>
	<%= stylesheet_link_tag 'sticky_notes.css', :plugin => 'redmine_scrummer' %>
	<%= javascript_include_tag 'jquery-1.6.1.js', :plugin => 'redmine_scrummer' %>
	<%= javascript_tag "$.noConflict(); $j = jQuery;"%> 
	
	<%= javascript_include_tag 'context_menu.js'%>
	<%= javascript_include_tag 'scrum_shared', :plugin => 'redmine_scrummer' %>
	<%= javascript_include_tag 'jquery-ui.min.js', :plugin => 'redmine_scrummer' %>
	<%= javascript_include_tag 'scrum_shared', :plugin => 'redmine_scrummer' %>
	<%= javascript_include_tag 'jquery.hoverIntent.js', :plugin => 'redmine_scrummer' %>
	<%= javascript_tag "select_menu_item('scrum-release-planing');"%>
	
	<%= javascript_include_tag 'jquery.ui.core.js', :plugin => 'redmine_scrummer' %>
	<%= javascript_include_tag 'jquery.ui.widget.js', :plugin => 'redmine_scrummer'%>
	<%= javascript_include_tag 'jquery.ui.mouse.js', :plugin => 'redmine_scrummer' %>
	<%= javascript_include_tag 'jquery.ui.resizable.js', :plugin => 'redmine_scrummer' %>
	<%= javascript_include_tag 'jquery.blockUI.js', :plugin => 'redmine_scrummer' %>
	<link href="http://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet" type="text/css">
	
<% end %>

<script>
	$j(function() {
		$j( ".board-outline" ).resizable({
			animate: true
		});
	});
</script>

<div style="padding: 10px 0px 10px 0px">
	<%= label_tag :sprint %>
	<%= select_tag :sprint_id, options_from_collection_for_select(@project.versions, :id, :name, :selected => @sprint.id), :onchange => 'sprint_scrum_board();' %>
</div>

<div class="board-outline ui-resizable" style="top: 0px; left: 0px; width: 95%; height: <%= @issues.map{|row| row.count }.max / 4 * @issues.count * 114 %>px; ">
	<div id="board">
		<div id="board-doodles"></div>
		<%= render :partial => "scrum_board" %>
	</div>
</div>

<script>
	function sprint_scrum_board(){
		$j.get('scrum_board/sprint_board.js', { project_id: "<%= @project.identifier %>",  sprint_id: $j("#sprint_id").val() });
	}
	
	$j.ajaxSetup({
    beforeSend:function(){
			$j.blockUI({ css: {
      	border: 'none',
        padding: '15px',
        backgroundColor: '#000',
        '-webkit-border-radius': '10px',
        '-moz-border-radius': '10px',
        opacity: .5,
        color: '#fff'
       } 
      });
    },
    complete:function(){
    	$j.unblockUI();
   	}
	});
	
	$j(document).ready(function() { 
	  // Setup the ajax indicator
	  $j('body').append('<div id="loading"><p><img src="/images/loading.gif"></p></div>');
	
	  $j('#loading').css({
	    display:"none",
	    margin:"0px",
	    paddingLeft:"0px",
	    paddingRight:"0px",
	    paddingTop:"0px",
	    paddingBottom:"0px",
	    position:"absolute",
	    right:"3px",
	    top:"3px",
	     width:"auto"
	  });
	});
</script>
