<%= context_menu issues_context_menu_path %>
<% content_for :header_tags do %>
<%= stylesheet_link_tag 'general', :media => "all", :plugin => 'redmine_scrummer' %>
<%= javascript_include_tag 'jquery-1.6.1.js', :plugin => 'redmine_scrummer' %>
<%= javascript_tag "$.noConflict(); $j = jQuery;"%>

<%= javascript_include_tag 'scrum_shared', :plugin => 'redmine_scrummer' %>
<%= javascript_include_tag 'jquery-ui.min.js', :plugin => 'redmine_scrummer' %>
<%= javascript_include_tag 'jquery.flot.js', :plugin => 'redmine_scrummer' %>
<%= javascript_include_tag 'highcharts', 'exporting', 'grid', :plugin => 'redmine_scrummer'  %>
<% end %>

<!-- Rendering the scrummer menu --> 
<%= render :partial => "scrum/scrummer_menu" %>

<% release_id = @releases.first.try(:id) %>
<% sprint_id = @sprints.first.try(:id) %>
<br/>
<div id="sprint_container" style="width:80%;height:30%;float:left;"></div>
<div id="chart-actions" style='float:right;'>
	<ul class='selectable'>
		<% @sprints.each do |sprint|%>
		<li class='ui-widget-content'>
			<%= link_to_remote sprint.name,
			:url => {:action => 'update_chart', :project_id => @project, :chart => 'sprint',  :id => sprint.id},
			:success => "alterPDFLink(#{sprint.id}, null); eval(data);",
			:method => 'GET'%>
		</li>
		<%end%>
	</ul>
</div>


<div id="release_container" style="width:80%;height:30%;float:left;margin-top: 20px;"></div>
<div id="release-actions" style='float:right;margin-top: 20px;'>
	<ul style='float:left;' class='selectable'>
		<% @releases.each do |release|%>
		<li class='ui-widget-content'>
			<%= link_to_remote release.name,
			:url => {:action => 'update_chart', :project_id => @project, :chart => 'release', :id => release.id},
			:success => "alterPDFLink(null, #{release.id}); eval(data);",
			:method => 'GET' %>
		</li>
		<%end%>
	</ul>
</div>

<script type="text/javascript">
	$j(document).ready(function() {
		actual = <%= @axes[:actual_hrs].inspect %>;
		actual_and_todo = <%= @axes[:actual_and_remaining_hrs].inspect %>;
		sprint_chart = set_data("sprint_container", actual, actual_and_todo, "Sprint Burn Chart", "Time (hrs)", "Actual", "Actual + Remaining", "hrs");
		if(actual.length > 0 || actual_and_todo.length > 0) {
			add_series("Remaining", <%= @axes[:remaining_hrs].inspect %>, sprint_chart)
		}
		total_points = <%= @axes[:accepted_pts].inspect %>;
		accepted_points = <%= @axes[:total_pts].inspect %>;
		set_data("release_container", total_points, accepted_points, "Release Burnup Chart", "Points (pt)", "Total Points", "Accepted Points", "pts");
	});
	
	$j('.selectable').selectable().each( function() {
		$j($j('li', this)[0]).addClass('ui-selected');
	});
	
	function set_data(div_id, d1, d2, chart_title, y_label, legend_1, legend_2, formatter) {
		options = {
			chart : {
				renderTo : div_id,
				defaultSeriesType : 'line'
			},
			title : {
				text : chart_title,
				x : -20 //center
			},
			xAxis : {
				title : {
					text : 'Date'
				},
				type: 'datetime',
				dateTimeLabelFormats: {
					second: '%e-%b-%Y',
					minute: '%e-%b-%Y',
					hour: '%e-%b-%Y',
            		day: '%e-%b-%Y',
            		week: '%b-%Y',
					month: '%b-%Y',
					year: '%Y'
        		},
        	 	labels: {
            		rotation: -45,
            		align: 'right',
		            style: {
		                font: 'normal 13px Verdana, sans-serif'
		            }
         	}
			},
			yAxis : {
				title : {
					text : y_label
				},
				plotLines: [{
		            value: 0,
		            width: 1,
		            color: '#808080'
		         }],
				min: 0,
        		startOnTick: false
			},
			tooltip : {
				formatter : function() {
					point_date = Highcharts.dateFormat('%e-%b-%Y', this.x);
					return '<b>' + this.series.name + '</b><br/>' + point_date + ': ' + this.y + formatter;
				}
			},
			legend : {
				layout : 'vertical',
				align : 'right',
				verticalAlign : 'top',
				x : -10,
				y : 100,
				borderWidth : 0
			},
			series : [{
				name : legend_1,
				data : d1
			}, {
				name : legend_2,
				data : d2
			}]
		}
		// removing the chart if it has no data
		if(d1.length > 0 || d2.length > 0){
			return new Highcharts.Chart(options);
		}
	}
	
	function add_series(name, data, chart){
		var series = {
			name: name,
			data: data
        };
		chart.options.series.push(series);
		new Highcharts.Chart(chart.options);
	}
	
</script>
