<%= context_menu issues_context_menu_path %>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'general', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'jquery-1.6.1.js', :plugin => 'redmine_scrummer' %>
    <%= javascript_tag "$.noConflict(); $j = jQuery;"%>
    
    <%= javascript_include_tag 'scrum_shared', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'jquery-ui.min.js', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'jquery.flot.js', :plugin => 'redmine_scrummer' %>   
<% end %>

<h2>ScrumCharts#index</h2>
<div id="chart" style="width:700px;height:400px;float:left"></div>

<script type="text/javascript">
function draw(d1, d2){
 	var options = {
   	 series: {
    	  lines: { show: true },
    	  points: { show: true }
    	}
  	};
	$j.plot($j("#chart"),[
	{
		data: d2,
		label: "Actual + TODO"
	}
	,
	{
		data: d1,
		label: "Actual"
	}
	], options);
}
var d1 = <%= @lower.inspect%>;
var d2 = <%= @upper.inspect%>;
draw(d1, d2);
</script>

<div id="chart-actions" style='float:left'>
<ul>
  <% @sprints.each do |sprint|%>
  <li>
  <%= link_to_remote sprint.name,
                :url => {:action => 'update_chart', :project_id =>@project, :sprint => sprint.id},
                :success => "eval(data);",
                :method => 'GET' %>
  </li>
  <%end%>
</ul>
</div>
