<%= context_menu issues_context_menu_path %>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'general', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'jquery-1.6.1.js', :plugin => 'redmine_scrummer' %>
    <%= javascript_tag "$.noConflict(); $j = jQuery;"%>
    
    <%= javascript_include_tag 'scrum_shared', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'jquery-ui.min.js', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'jquery.flot.js', :plugin => 'redmine_scrummer' %>
<% end %>
<h2>ScrumCharts#index</h2>
<div id="placeholder" style="width:600px;height:300px;"></div>
<script type="text/javascript"> 
$j(function () {
    var d1 = [];
    for (var i = 0; i < 14; i += 0.5)
        d1.push([i, Math.sin(i)]);
 
    var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];
 
    // a null signifies separate line segments
    var d3 = [[0, 12], [7, 12], null, [7, 2.5], [12, 2.5]];
    
    $j.plot($j("#placeholder"), [ d1, d2, d3 ]);
});
</script>