<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'general.css', :plugin => 'redmine_scrummer' %>
<% end %>

<!-- Rendering the scrummer menu --> 
<%= render :partial => "scrum/scrummer_menu" %>
<!-- End by Mohamed Magdy -->

<h2>Sprint</h2>

<% form_for :version, :url => {:action => 'add_version',:id => @version.id, :project_id => @project} do |f| %>

  <%= f.error_messages %>

  <div class="box">
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.submit l(:button_save) %>
  </div>
<% end %>

