<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'general', :plugin => 'redmine_scrummer' %>
    <%= stylesheet_link_tag 'tipsy', :plugin => 'redmine_scrummer' %>
    <%= stylesheet_link_tag 'sidebar', :plugin => 'redmine_scrummer' %>
    <%= stylesheet_link_tag 'jquery-ui_patched.css', :plugin => 'redmine_scrummer' %>
    <%= stylesheet_link_tag 'jquery.cluetip.css', :plugin => 'redmine_scrummer' %>
    <%= javascript_tag "var task_tracker_id = #{Tracker.scrum_task_tracker.id}"%>    
    <%= javascript_include_tag 'jquery.jeditable.js', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'context_menu.js'%>
    
    <%= javascript_include_tag 'scrum_shared', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'jquery.tipsy.js', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'jquery.sidebar.js', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'jquery-ui.min.js', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'jquery.cluetip.js', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'jquery.cluetip.min.js', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'jquery.hoverIntent.js', :plugin => 'redmine_scrummer' %>
    <%= javascript_include_tag 'sprint_planning.js', :plugin => 'redmine_scrummer' %>
    <%= javascript_tag "select_menu_item('scrum-sprint-planing');"%>
    
<% end %>

<!-- Rendering the scrummer menu --> 
<%= render :partial => "scrum/scrummer_menu" %>

<h2>Sprint Planning</h2>
<!--Sprints stacked vertically-->
<br/>
<div>
	<fieldset id="inline-version-add" class="collapsible collapsed">
		<br/>
    <legend onclick="toggleFieldset(this);" id="version-control-label"><%= l(:label_version_new) %></legend>
		<div id='inline_add_container' style="display:none">
			<%= render :partial => 'inline_add_version'%>
		</div>
	</fieldset>
	
	<table class="list versions">
		<thead><tr>
	    <th><%= l(:field_sprint_name) %></th>
	    <th><%= l(:field_description) %></th>
	    <th><%= l(:field_release) %></th>

	    <th><%= l(:field_status) %></th>
	    <th><%= l(:field_sharing) %></th>

	    <th><%= l(:field_start_date) %></th>
	    <th><%= l(:field_end_date) %></th>

	    <th style="width:30px"></th>
	    </tr></thead>
		<tbody>
	<% for version in @sprints %>
	    <%= render :partial => 'version_row', :locals => {:version => version} %>
	<% end; reset_cycle %>
	    </tbody>
	</table>
</div>
<script>
	$('#version-control-label').click(function(event){
		$('#version-control-label').text('<%= l(:label_version_new) %>');
		$('#version-form').find(':input').each(function() { 
			if (this.type != 'submit' && this.name != 'authenticity_token') {
				$(this).val('');
			}
		});
		$("#version-name").attr('disabled', false);
		// removing retrospective url field when creating new sprint.
		$('#version_custom_field_values_<%= VersionCustomField.find_by_scrummer_caption(:retrospective_url).id%>').parent().remove();
	});
	
	function hide_field(){
		var fieldset = $('#inline-version-add');
		fieldset.toggleClass('collapsed');
		fieldset.children('div').slideUp("slow");
		$('#version-control-label').text('<%= l(:label_version_new) %>');
	}
	
	function populate_version_data(request){
		$('#version-form').replaceWith(request.responseText);
	}
</script>