<div id="scrum_menu" class="tabs">
	<% # highlighting scrummer label in the main menu%>
	<%= javascript_tag "select_menu_item('scrummer');"%>
	<ul id="scrummer_menu">

	<% class_attr = {}%>
	<% class_attr[@current_page] = "selected"%>

	<% if User.current.allowed_to?(:scrum_release_planing, @project)%>
		<li>
			<%= link_to "Release Planning", scrum_release_planing_path(:project_id => @project.identifier), :class => class_attr[:release_planning] %>
		</li>
	<% end%>

	<% if User.current.allowed_to?(:scrum_sprint_planing, @project)%>
		<li>
			<%= link_to "Sprint Planning", scrum_sprint_planing_path(:project_id => @project.identifier), :class => class_attr[:sprint_planning] %>
		</li>
	<% end%>
		
	<% if User.current.allowed_to?(:scrum_user_stories, @project)%>
		<li>
			<%= link_to "User Stories", scrum_user_stories_path(:project_id => @project.identifier), :class => class_attr[:user_stories] %>
		</li>
	<% end%>

	<% if User.current.allowed_to?(:scrum_charts, @project)%>
		<li>
			<%= link_to "Charts", scrum_charts_path(:project_id => @project.identifier), :class => class_attr[:charts] %>
		</li>
	<% end%>
	</ul>
</div>
<style type="text/css">
	/* Assigning Colors for issue trackers */
	<% Tracker.find_all_by_is_scrum(true).each do |tracker| %>
		.<%= tracker.scrummer_caption.to_s %>-issue .tracker {
			color: <%= tracker.color %>
		}
	<% end %>

	/* Assigning colors for issues statues */
	<% IssueStatus.find_all_by_is_scrum(true).each do |status| %>
		.status.<%= status.scrummer_caption.to_s %> {
			background-color: <%= status.color %>;
			width: <%= status.width %>px;
		}
	<% end %>
</style>